header {
	padding-bottom: 1em;
}

ul.booklist {
	padding-left: 0;
	list-style-type: none;
}

ul.booklist > li > *:not(h2) {
	margin-left: 2.1em;
}

ul.inline {
	padding-left: 0;
	margin-bottom: 0.8em;
}

ul.inline li {
	display: inline-block;
	margin-right: 2em;
}

ul.booklist li:last-child hr {
	display: none;
}