<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Mike's Reading List</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	body {
		margin: 0;
		padding: 1em;
		height: 100%;
		text-wrap: pretty;
	}
</style>
